.containerTitle {
	text-align: center;
}

.title {
	font-size: 2.4rem;
	color: #ff9900;
}
.productos {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
	gap: 3rem 2rem;
	box-sizing: border-box;
	align-items: center;
	justify-content: center;
	margin: 0 10rem;
	
}
