.containerTitle {
	text-align: center;
}

.title {
	font-size: 2.4rem;
	color: #ff9900;
}
.select {
	border: 1px solid #ff9900;
	padding: 1rem;
	border-radius: 1rem;
	font-family: 'Bebas Neue', cursive;
	font-size: 1.2rem;
	font-weight: 700;
	color: #ff9900;
	letter-spacing: 1px;
}

.select:focus {
	color: #ffd000;
	outline: none;
	border: 1px solid #ffd000;
}

.select:hover {
	color: #ffd000;
}

.option {
	color: #ff9900;
}

.option:checked {
	background-color: #ffd000/30;
	border-radius: 1rem;
	box-shadow: 0 0 5px rgba(255, 153, 0, 0.3);
}

.option:hover {
	background-color: #ffd000 !important;
	color: white;
}

.containerForm {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.titleForm {
	font-size: 2.4rem;
	color: #ff9900;
}
.titleForm h1 {
	margin: 0;
}

.form {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	align-items: center;
	justify-content: center;
	font-size: 1.4rem;
	color: #ff9900;
}
/* .form label {
	display: flex;
	flex-direction: column;
} */
.form input {
	border: 1.5px solid #ff9900;
	margin-left: 0.2rem;
	font-family: 'Bebas Neue', cursive;
	font-size: 1rem;
	color: #ff9900;
	width: 45vw;
}
.form label input:focus {
	border: 4px solid #ffd000;
	outline: none;
}

.btn {
	text-align: center;
	padding: 10px;
	background-color: #ff9900;
	border: none;
	font-size: 1.6rem;
	color: #fff;
	text-decoration: none;
	border-radius: 1rem;
	font-family: 'Bebas Neue', cursive;
	margin: 1rem auto;
	width: 90%;
}

.btn:hover {
	background-color: #ffd000;
}
